code.noClass {
    --inlineColor: rgb(14, 140, 200);
    color: var(--inlineColor);
    box-shadow: none !important;
    margin: 0.1rem;
    padding: 0.1rem 0.1rem;
    font-size: 0.8rem;
    background-color: rgba(0,119,184,0.15);
    border: 1px solid transparent;
    align-items: center;
    display: inline;
    line-break: anywhere;
}
